.DS_Store
Pods/
build/
default.profraw

*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

Packages/*/.build/
Packages/*/.swiftpm/
Packages/*/Package.resolved
